<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* CSS for the notification */
        .notification {
            background-color: #4CAF50; /* Green background color */
            color: white; /* White text color */
            text-align: center; /* Center-align text */
            padding: 10px; /* Add some padding for better visual appeal */
        }
    </style>
</head>
<body>
    <div class="notification">

	<span th:text="${status}"></span>
    </div>
    <p>Dear <span th:text="${employee}"></span>, <span th:text="${description}" </p>
</body>
</html>
